@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

body{
    margin: 0 15%;
    background-image: url("imagenes/maths.jpg");
    height: 100vh;
    width: 70vw;
    opacity: 90;
    color: black;
    font-family: "Roboto", serif;
}
header{
    height: 10vh;
    background: url("imagenes/boxes.png");
    position: relative;
}
#titulo{
    bottom: -3vh;
    position: absolute;
    width: 30%;
    font-size: 3vh;
    text-align: center;
}
nav{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.pestaña{
    background: white;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
}
#matriz{
    position: absolute;
    right: 103px;
    margin: 0 3px;
    width: 100px;
}
#teoria{
    position: absolute;
    right: 0;
    margin: 0 3px;
    width: 100px;
}
#main{
    margin: 0;
    height: 85vh;
    width: 70vw;
    position: relative;
}
#toolbar{
    margin: 0;
    border: 1px solid black;
    height: inherit;
    padding: 5px 0 0 1vh;
    background: linear-gradient(to right, darkgrey, grey, dimgrey);
    position: relative;
    width: 30%;
}
.indice{
    margin: 0;
    border: 1px solid black;
    height: inherit;
    padding: 5px 0 0 0;
    background: linear-gradient(to right, darkgrey, grey, dimgrey);
    position: relative;
    width: 30%;
}
.linkContenido{
    display: block;
    cursor: pointer;
    background-color: inherit;
    width: 100%;
    margin: 0;
    text-align: left;
    outline: none;
    transition: 0.3s;
}
.linkContenido:hover{
    background-color: rgba(96, 96, 96, 0.39);
}
.linkContenido.activo{
    background-color: grey;
}
#vectores{
    position: relative;
}
#inputVectores{
    position: absolute;
    top: 6vh;
}
#putBase{
    position: absolute;
    right: 1vw;
    top: 4vh;
}
.bases{
padding: 0 1px;
}
ul{
    list-style-type: none;
    padding: 5px;
    font-size: 17px;
}
.sub{
    list-style-type: disc;
    margin-left: 2vw;
    font-size: x-large;
}
strong{
    margin: 5px;
}
li{
    margin: 15px 0;
}
input.base{
    width: 7vw;
}
input.vector{
    width: 5vw;
}
input.numero{
    width: 3vw;
}
#funciones{
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: 3vh;
    margin: 0;
}
#tf{
    position: absolute;
    top: 3vh;
    left: 0;

}
#labels{
    position: absolute;
    width: 30%;
    height: 70%;
    bottom: 1vh;
    left: 0;

}
#inputs{
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 1.7vh;
    right: 1vw;
    margin: inherit;
}
.menu{
font-size: 18px;
}
.numero{
width: 50px;
}
#canvas{
    margin: 0;
    border: 1px solid black;
    position: absolute;
    width: 70%;
    height: inherit;
    top: 0;
    right: 0;
    background: #ffffff;
}
#canvas:before {
    content: "";
    display: none;
    padding-top: 100%;
}
#canvasVector{
    width: 650px;
    height: 650px;
    margin-left: 50px;
}
#reset{
    position: absolute;
    right: 5vh;
    top: 5vh;
}
#zoom {
    position: absolute;
    right: 5vw;
    bottom: 5vh;
}
.contenido{
    margin: 0;
    border: 1px solid black;
    position: absolute;
    width: 70%;
    height: inherit;
    top: 0;
    right: 0;
    background: white;
}
.contenido.ul{
    list-style-type: disc;
}
#lista{
    border: solid black;
    position: absolute;
}
#elementos{
    position: relative;
    width: 50%;
    height: 50%;
}
footer{
    background: url("imagenes/boxes.png");
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 5vh;
    width: 70vw;
}
#firma{
    position: absolute;
    right: 5px;
    top: 25%;
    text-align: right;
}

/*Elimina botones de rotacion de valores para inputs de numeros*/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#work{
    margin-left: 150px;
    margin-top: 100px;
}