body{
    margin: 0 15%;
    background-image: url("imagenes/maths.jpg");
    height: 100vh;
    width: 70vw;
    opacity: 90;
    color: black;
    font-family: Arial, serif;
}
header{
    height: 10vh;
    background: url("imagenes/boxes.png");
    position: relative;
}
#titulo{
    bottom: -3vh;
    position: absolute;
    width: 30%;
    font-size: 3vh;
    text-align: center;
}
nav{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
}
.pestaña{
    background: white;
    border: 1px solid black;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
}
#matriz{
    position: absolute;
    right: 0;
    margin: 0 3px;
    width: 100px;
}
#teoria{
    position: absolute;
    right: 103px;
    margin: 0 3px;
    width: 100px;
}
#main{
    margin: 0;
    height: 85vh;
    width: 70vw;
    position: relative;
}
#toolbar{
    margin: 0;
    border: 1px solid black;
    height: inherit;
    padding: 5px 0 0 1vh;
    background: linear-gradient(to right, darkgrey, grey, dimgrey);
    position: relative;
    width: 30%;
}
#indice{
    margin: 0;
    border: 1px solid black;
    height: inherit;
    padding: 5px 0 0 1vh;
    background: linear-gradient(to right, darkgrey, grey, dimgrey);
    position: relative;
    width: 30%;
}
#vectores{
    position: relative;
}
#inputVectores{
    position: absolute;
    top: 6vh;
}
#putBase{
    position: absolute;
    right: 2vw;
    top: 4vh;
}
.bases{
padding: 0 1px;
}
ul{
    list-style-type: none;
    padding: 5px;
    font-size: 17px;
}
strong{
    margin: 5px;
}
li{
    margin: 15px 0;
}
input.base{
    width: 7vw;
}
input.vector{
    width: 5vw;
}
input.numero{
    width: 3vw;
}
#funciones{
    position: absolute;
    width: 100%;
    height: 40vh;
    bottom: 3vh;
    margin: 0;
}
#tf{
    position: absolute;
    top: 3vh;
    left: 0;

}
#labels{
    position: absolute;
    width: 30%;
    height: 70%;
    bottom: 1vh;
    left: 0;
    margin: inherit;
}
#inputs{
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 1.7vh;
    right: 1vw;
    margin: inherit;
}
.menu{
font-size: 18px;
}
.numero{
width: 50px;
}
#canvas{
    margin: 0;
    border: 1px solid black;
    position: absolute;
    width: 70%;
    height: inherit;
    top: 0;
    right: 0;
    background: white;
}
#texto{
    margin: 0;
    border: 1px solid black;
    position: absolute;
    width: 70%;
    height: inherit;
    top: 0;
    right: 0;
    background: white;
}
footer{
    background: url("imagenes/boxes.png");
    position: fixed;
    bottom: 0;
    margin: 0;
    height: 5vh;
    width: 70vw;
}
#firma{
    position: absolute;
    right: 5px;
    top: 25%;
    text-align: right;
}
